/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
    TYPOGRAPHY
-------------------*/
body {
    font-family: "Montserrat", sans-serif;
}

/*-------------------
    MAIN
-------------------*/
.container-big {
    display: flex;
    height: calc(100vh - 90px);
    background-color: #141922;
}

/* SIDEBAR */
.sidebar {
    width: 330px;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #555555;
    padding-left: 2px;
    justify-content: space-between;
    height: calc(100vh - 90px)
}
#logo {
    max-width: 200px;
    margin: 20px 0;
}
#logo-small {
    display: none;
    height: 24px;
}
.header-item {
    display: flex;
    line-height: 1.5;
    padding: 6px 0;
}
.header-item img {
    height: 24px;
}
.playlist h4 {
    color: #fff;
    margin-top: 12px;
}
.add-playlist {
    display: flex;
}
.fa-square-plus {
    font-size: 45px;
}
.playlist p {
    line-height: 3;
    margin-left: 6px;
}
.playlist li {
    padding: 12px 0;
}
.install {
    display: flex;
}
.install img {
    max-width: 16px;
}
.user img {
    max-width: 22px;
}
.user {
    display: flex;
}
/* HOMEPAGE */

/* UPGRADE */
.upgrade {
    background-color: #080b12;
    position: fixed;
    height: 90px;
    width: 100%;
}

/* PRIMARY */
.primary {
    overflow-y: auto;
}
/*-------------------
    FOOTER
-------------------*/
footer {
    height: 90px;
    background-color: #282828;
    position: fixed;
    z-index: 900;
}

/*-------------------
    MEDIA QUEARY
-------------------*/
@media screen and (max-width: 600px) {
    .sidebar {
        max-width: 30px;
    }
    .sidebar .playlist, .header-item p, .user p, .install p, .sidebar hr, #logo {
        display: none;
    }
    #logo-small {
        display: block;
    }
     
}